.image-holder
{
	border-radius: 5%;
	border: 8px;
	border-color: gray;
	border-style: dashed;	
	height:70%;
	margin-top:20px;
	margin-bottom: 20px;

}

.image-holder-text
{
	line-height: 50px;
	font-size: 30px;
	text-align:center;
}

#image-holder-text-place-your
{
	margin-top: 30px;
}

.subject-container
{
	margin-top:20px;	
}

