.files-container
{
	display: inline-flex; /* this needs to be changed */
}

.files
{
	height:150px;
	width:100px;
	
	margin-right: 20px;
	text-align: center;
}


.files img
{
	height: 120px;
	width: inherit;
	display: block;
    margin-bottom: 10px;
    box-shadow: 2px 2px 10px gray;

}

.gyphicon-container
{
	text-align: center;
	display: inline;
}

.notice-timestamps-container
{
	margin-bottom: 10px;
}

.notice-timestamps
{
	font-family: Arial;
	margin-left: 10px;
}

.glyphicon-clock
{
	display: inline-flex;
	font-size: 14px;
}